footer
    .container(style="margin-top: 40px;")
        .panel.panel-default
            .panel-body(style="text-align: center;")
                h6.
                    Feel free to use the system. It's not the usual
                    quality we normaly provide, but then again, this is javascript so give us a break!