doctype html
html
    head
        title #{title}
        script(type="text/javascript", src="/javascripts/jquery2.1.js")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel='stylesheet', href="/bootstrap/css/bootstrap.min.css")
        link(rel='stylesheet', href='/stylesheets/site.css')

    body
        block menu
        block content
        block footer
        include scripts