// Created by ThomasHedegaard on 28/10/14.
extends layout

block content
   .container
      h1 OrderViewer

      table#orderTable.table.col-xs-10.col-sm-10.col-md-10.col-lg-10
         tr
            th ID
            th Date
            th Name
            th Address












