// Created by ThomasHedegaard on 28/10/14.
extends layout

block content
   .container
      h1 OrderViewer

      div.table-responsive
         table.table#orderTable
            thead
               tr
                  th ID
                  th Date
                  th Address
                  th Country
            tbody
               tr
                  td 1
                  td 10-09-14
                  td MyStreet 321
                  td Ireland
               tr
                  td(colspan='4')
                     p Random inger hammerik











               // Loop through data
   script(type='text/javascript').
      $(document).ready(function(){
         expander('orderTable');
      });















