//
   Created by Robert on 29-10-2014.
extends layout
block content

    - var title = ""
    - var person = ""

    script(type='text/javascript')
        if (employee === undefined && customer === undefined){
            title = "Error"
        }else if (employee == undefined){
            title = "Customer"
            person = customer
        }else
            title = "Employee"
            person = employee

    .container
        div.panel.panel-default
        div.panel-heading
            h3.panel-title= title
        div.panel-body
            for x in person
                | x