//
   Created by Robert on 29-10-2014.
extends layout
block content
    .container-fluid
        .well
            p I am a navigation
        .panel.panel-default
            .panel-heading Employee
            .row
                .col-md-12
                    table.table.table-striped
                        thead
                            tr
                                th
                                th Info
                        tbody
                            if customer
                                script.
                                    person = !{JSON.stringify(customer)}
                            else
                                script.
                                    person = !{JSON.stringify(employee)}

                            script.
                                var str = "";
                                for (var item in person) {
                                    var name = person[item];
                                    var prop = item;
                                    str += "<tr>";
                                    str += "<td>" + prop;
                                    str += "<td>" + name;
                                    str += "</tr>";
                                }

                                $('tbody').html(str);

        .row
            .col-md-1
                button.btn.btn-default.btn-lg(type='button' id='backbtn' onclick="location.href='../orders'")
                    span.glyphicon.glyphicon-chevron-left
                    |  Back

       // script(type="text/javascript").
            var button = document.getElementById("backbtn");
            button.addEventListener("click", function() {
                $.get( "../orders/20/1", function( data ) {
                }).done(function(data){
                window.location("localhost:3000/orders/20/0")
                $("html").html(data);
                });
                });